---
import Layout from "../layouts/Layout.astro"
import '../../src/css/about.css'
import '../../src/css/home.css'
---

<Layout title="About">

     <div class="Banner-area Banner-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white my-auto d-flex fs-3 justify-content-center fw-bold about-text">
                    <a class="nav-link about-text " href="/">Home  /</a> <a class="about-text text-white" href="/about">&nbsp; About us</a>
                   </div>
        </div>
    </div> 
</div>  
    <!-- end hero area -->


    <div class="container-fluid earth about-bg">
        <div class="container p-3">
            <div class="row">
                <div class="col-lg-5 text-center">
                    <img class="img-fluid text-center rotate-image" src="../../src/Assets/Images/earth.png" alt="Earth">
                  </div>
                
                <div class="col-lg-7 d-flex flex-column justify-content-center astrology-text">
                
                 <h3 class="abtus-text">
                    know about Corp astrology
                 </h3>
               <p>
                Are you struggling to boost your profits, streamline your team, or align your business strategies for success? At Corp Astro, we understand these challenges and offer a unique solution harnessing the power of the cosmos to transform your business.
Led by the renowned astrologers Dr. Tumul Raathi and Aanchal Rathi, we specialize in Astro-Branding, Astro-Staffing, Astro-Management, and Vastu services tailored to address your specific pain points. Imagine a business where your brand resonates with the universe, your team works in perfect harmony, and your strategies are in sync with the stars this is the reality we create for you.
Don’t let uncertainty hold your business back. Partner with Corp Astro, and let's unlock the celestial potential of your business, ensuring growth, prosperity, and lasting success.
               </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid choose-bg">
        <div class="container max-main p-5">
            <div class="row">
                <div class="col-lg-7 d-flex flex-column justify-content-center">
                    <h2 class="choose">Why Choose Us
                    </h2>
                    <p class="">
                        At Corp Astro, we harness cosmic insights to elevate your business through tailored astro-branding and Vastu services, ensuring enhanced profits and harmonious team dynamics. Partner with us to unlock your business's celestial potential for growth and success.

                    </p>
                    <button class="btn-24"><span>Read more</span></button>

                </div>
                <div class="col-lg-5">
                    <img class="img-fluid img-choose" src="../../src/Assets/Images/choose.png" alt="chooseus-img">
                </div>
            </div>
        </div>
     
    </div>
     

     

   













</Layout>