---
import Layout from "../layouts/Layout.astro";
import "../../src/css/branding.css";
---

<Layout title="Astro-Branding">
  <div class="Banner-area Banner-bg">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-12 text-white my-auto d-flex justify-content-center fw-bold about-text"
        >
          <a class="nav-link about-text" href="/">Home /</a>
          <a class="about-text text-white" href="/about">
            &nbsp; Astro Branding</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- branding 1 starts  -->

  <div class="container-fluid back-img">
    <div class="container p-4">
      <div class="row gy-3">
        <div class="col-lg-8 p-2" id="main">
          <div class="header-bg text-center p-3">ASTRO-Branding</div>
          <div class="header-bg2 p-2">
            <p class="para">
              Branding is one of the most important aspects of any business,
              large or small, retail or B2B. An effective brand strategy gives
              you a major edge in increasingly competitive markets. But what
              exactly does "branding" mean? Simply put, your brand is your
              promise to your customer. It tells them what they can expect from
              your products and services, and it differentiates your offering
              from your competitors'. Your brand is derived from who you are,
              who you want to be and who people perceive you to be.
            </p>

            <ol type="a">
              <b>
                Astrology has a key role in making the right selections for
                implementing its branding strategies, which includes:
              </b>
              <div class="px-3">
                <li>Most Favourable Name for the Company</li>
                <li>A Powerful & Effective Brand Name</li>
                <li>Right Colour Combinations</li>
                <li>Powerful Logo</li>
                <li>A great Tag line for the Company.</li>
              </div>
            </ol>
            <p>
              <b>By the help of Astro-numerological analysis</b> we can give a favourable
              name to the company, identify the company’s strengths and define specific
              opportunities and threats of the company in the market environment
              and help define its vision, mission and strategy.
            </p>
            <h5 class="we-give">
              WE GIVE MOST FAVOURABLE NAME FOR YOUR COMPANY:
            </h5>
            <div>
              <ul>
                <b> A Good Company Name should be: </b>
                <div class="px-3">
                  <li>Unique</li>
                  <li>Meaningful</li>
                  <li>Memorable</li>
                  <li>Should reflect the Business image</li>
                </div>
              </ul>
            </div>
            <div>
              <ul>
                <b> But, a Favourable Company Name will: </b>
                <div class="px-3">
                  <li>Bring Success, Growth & Profitability</li>
                  <li>
                    Would create a positive image in the minds of the customers
                  </li>
                  <li>
                    In Contrast an unfavourable name will spell misfortune &
                    disaster especially when the time is going unfavourable.
                  </li>
                </div>
              </ul>
            </div>

            <div>
              <h5 class="we-give">
                Some Favourable Names of Successful Companies
              </h5>
              <ul>
                <li>
                  <b>‘Reliance Industries Limited’ </b> having Name Number 9 representing
                  planet Mars is quite favourable to Late Dhirubhai Ambani as well
                  as Mukesh Ambani.
                </li>
                <li>
                  <b>'Jio’</b> also have Name Number 9 of Mars representing Force
                  & Aggression, Long Term Strategy, First Mover & Real Estate Capital.
                </li>
                <li>
                  <b>‘Zerodha’</b>aving Name Number 4 representing planet Rahu
                  is favourable to Nithin & Nikhil Kamath and also is the main
                  Karaka Planet for the Industry of stock trading & broking.
                </li>
                <li>
                  <b>"OYO"</b> having name number 6 representing the planet Venus,
                  is quite favourable to Ritesh Agarwal and is also the main Karaka
                  planet for the Industry of Hospitality.
                </li>
              </ul>
            </div>

            <div>
              <h5 class="we-give">How we do it?</h5>
              <ul>
                <li>Identifying Karaka Planets of the Industry.</li>
                <li>
                  Detailed analysis of Company’s Astro-Numerological Birth
                  Charts to identify the strong planets and its relation to the
                  Karaka Planet.
                </li>
                <li>
                  Detailed analysis Owners/Partners/Shareholders
                  Astro-Numerological Birth Charts to identify favourable
                  planets of individuals.
                </li>
                <li>
                  Arriving at the most favourable “Common Compatible Planet
                  Numbers” ie. The Astro-numerological values arrived that is
                  commonly compatible to the Karaka Planet and the favourable
                  planets of the Owners/Partners/Shareholders.
                </li>
                <li>
                  Suggesting the Favourable Names either through name correction
                  or New Name along with the analysis report.
                </li>
              </ul>
            </div>

            <div>
              <h5 class="we-give">Deliverables:</h5>
              <p>
                Comprehensive Analysis Report giving your Company Name Analysis
                with Name Correction/New Name Suggestion if required.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 p-2" id="sidebar">
          <div class="header-bg p-3 text-center">
            Name Analysis With Suggested Names
          </div>
          <div class="header-bg2 p-4 text-center" id="header">
            <strike class="text-center fs-4"> (₹21000) </strike>
            <p class="text-center pt-5 fs-4">₹10000</p>
            <div class="text-center p-2">
              <button type="submit" class="btn-24 buyNowBtn" data-product="Name Analysis With Suggested Names" data-price="10000 ">Buy now</button>
            </div>
            <div class="text-center mt-2">
              <img
                class="w-100 text-center"
                src="../../src/Assets/Images/alllogos.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- barnding 1 ends here  -->

  <!-- barnding 2 starts here  -->

  <div class="container-fluid back-img">
    <div class="container p-4">
      <div class="row gy-3">
        <div class="col-lg-4 p-2" id="sidebar">
          <div class="header-bg p-3 text-center">
            Creating a Favourable & Effective Brand Name
          </div>
          <div class="header-bg2 p-4 text-center" id="header">
            <strike class="text-center fs-4"> (₹21000) </strike>
            <p class="text-center pt-5 fs-4">₹10000</p>
            <div class="text-center p-2">
              <button type="submit" class="btn-24 buyNowBtn"  data-product="Creating a Favourable & Effective Brand Name" data-price="10000 ">Buy now</button>
            </div>
            <div class="text-center mt-2">
              <img
                class="w-100 text-center"
                src="../../src/Assets/Images/3m.jpg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="col-lg-8 p-2" id="main">
          <div class="header-bg text-center p-3">
            WE GIVE A POWERFUL & EFFECTIVE BRAND NAME:
          </div>
          <div class="header-bg2 p-2">
            <ul>
              <p class="para">An effective brand name should be:</p>

              <div class="px-3">
                <li>
                  <b>Memorable:</b> Easy to recall and recognize, making it stick
                  in the minds of consumers.
                </li>
                <li>
                  <b>Unique: </b>Distinctive and not easily confused with other
                  brands or products in the market.
                </li>
                <li>
                  <b>Relevant:</b> Reflective of the brand's identity, values, or
                  the benefits it offers.
                </li>
                <li>
                  <b>Emotive:</b>
                  Capable of evoking the desired emotions or associations in the
                  target audience. But…a Favourable & Effective Brand Name has to
                  be Astro-numerologically compatible to:
                </li>
                <li>The Company’s favourable Planetary Energies.</li>
                <li>
                  The Karaka Planet of the Business your brand represents.
                </li>
                <li>
                  No matter how unique & distinctive your brand may sound, if it
                  is not Favourable will hinder the brand's ability to connect
                  with its audience, reduce its competitive advantage, and
                  ultimately impact its long-term success.
                </li>
              </div>
            </ul>
            <p>
              <b>By the help of Astro-numerological analysis</b> we can give a favourable
              name to the company, identify the company’s strengths and define specific
              opportunities and threats of the company in the market environment
              and help define its vision, mission and strategy.
            </p>

            <div>
              <h5 class="we-give">How we do it?</h5>
              <ul>
                <li>Identifying Karaka Planets of the Industry.</li>
                <li>
                  Detailed analysis of Company’s Astro-Numerological Birth
                  Charts to identify the strong planets and its relation to the
                  Karaka Planet.
                </li>
                <li>
                  Detailed analysis Owners/Partners/Shareholders
                  Astro-Numerological Birth Charts to identify favourable
                  planets of individuals.
                </li>
                <li>
                  Arriving at the most favourable “Common Compatible Planet
                  Numbers” ie. The Astro-numerological values arrived that is
                  commonly compatible to the Karaka Planet and the favourable
                  planets of the Owners/Partners/Shareholders.
                </li>
                <li>
                  Suggesting the Favourable Names either through name correction
                  or New Name along with the analysis report.
                </li>
              </ul>
            </div>

            <div>
              <h5 class="we-give">Deliverables:</h5>
              <p>
                Comprehensive Analysis Report giving your Brand Name Analysis
                with Name Correction/New Name Suggestion if required.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- barnding 2 ends here  -->

  <!-- barnding 3 starts here  -->

  <div class="container-fluid back-img">
    <div class="container p-4">
      <div class="row gy-3">
        <div class="col-lg-8 p-2" id="main">
          <div class="header-bg text-center p-3">
            WE DESIGN A POWERFUL LOGO, GIVE FAVOURABLE COLOURS THEME & THE
            COLOURS TO AVOID:
          </div>
          <div class="header-bg2 p-2">
            <p class="para">
              A Powerful Company Logo plays a key role in creating a lasting
              impression on Customers, establishing Brand Recognition, and
              differentiating the Company from the Competitors. A Powerful Logo
              fosters an emotional connection with its audience. The Company
              Logo to be Powerful & Favourable should be:
            </p>

            <ul>
              <div class="px-3">
                <li>
                  Vedic Astro-numerologically Compatible & Favourable to the
                  Company.
                </li>

                <li>
                  Having Favourable Shape & Structure (Golden Ratio) having the
                  prosperity giving vibes for your Company.
                </li>
                <li>Having Favourable Colour Combinations.</li>
              </div>
            </ul>

            <div>
              <h5 class="we-give">How we do it?</h5>
              <ul>
                <li>
                  The Company’s Sun Chart along with Numerological Birth Chart
                  is studied to identify its strong and weak planets
                </li>
                <li>
                  These are aligned with the ones in the Owners/Directors
                  Horoscope to understand the dominating positive and negative
                  elements of the respective charts
                </li>
                <li>
                  Based on these elements and other factors of LOGO designing we
                  arrive at Favorable and Unfavourable Colours to support the
                  vibrations of strong planets.
                </li>
                <li>
                  Shapes and Elements that will ensure the growth and positive
                  influence of the Brand/Company.
                </li>
                <li>
                  Suggesting the Favourable Names either through name correction
                  or New Name along with the analysis report.
                </li>
                <li>
                  The ratio of the Colors and Elements to be used to balance the
                  negatives and enhance the positive vibrations of the LOGO.
                </li>
              </ul>
            </div>

            <div>
              <h5 class="we-give">Deliverables:</h5>
              <p>
                A report of the complete analysis of the company’s Sun chart,
                Astro-Numerological chart of the Founder/Directors, Favourable &
                Unfavourable colors and combinations, Shapes and elements based
                on the zodiac A Logo designed as per the report with all the
                elements
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-2" id="sidebar">
          <div class="header-bg p-3 text-center">
            Company Logo Designing, Giving Favourable Colours Theme & Colours to
            avoid
          </div>
          <div class="header-bg2 p-4 text-center" id="header">
            <strike class="text-center fs-4"> (₹51000) </strike>
            <p class="text-center pt-5 fs-4">₹37000</p>
            <div class="text-center p-2">
              <button type="submit" class="btn-24 buyNowBtn" data-product="Company Logo Designing, Giving Favourable Colours Theme & Colours to
            avoid" data-price="37000">Buy now</button>
            </div>
            <div class="text-center mt-2">
              <img
                class="w-100 text-center"
                src="../../src/Assets/Images/color.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- barnding 3 ends here  -->

  <!-- barnding 4 starts here  -->

  <div class="container-fluid back-img">
    <div class="container p-4">
      <div class="row gy-3">
        <div class="col-lg-4 p-2" id="sidebar">
          <div class="header-bg p-3 text-center">
            Creating a Great Tag Line of your Company-
          </div>
          <div class="header-bg2 p-4 text-center" id="header">
            <strike class="text-center fs-4"> (₹21000) </strike>
            <p class="text-center pt-5 fs-4">₹10000</p>
            <div class="text-center p-2">
              <button type="submit" class="btn-24 buyNowBtn" data-product="Creating a Great Tag Line of your CompaavoiCreating a Great Tag Line of your Company" data-price="10000">Buy now</button>
              <!-- <button class="btn btn-primary buyNowBtn" data-product="Name Analysis With Suggested Names" data-price="10000">Buy Now</button> -->
            </div>
            <div class="text-center mt-2">
              <img
                class="w-100 text-center"
                src="../../src/Assets/Images/tag.jpg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="col-lg-8 p-2" id="main">
          <div class="header-bg text-center p-3">
            WE CREATE A GREAT TAG LINE FOR YOUR COMPANY OR BRAND:
          </div>
          <div class="header-bg2 p-2">
            <p>
              What is most the most memorable part of a Business after it’s
              Brand name? It is its Tagline. What defines the values, mission,
              and vision of a company? That is a tagline! What if, the tagline
              doesn’t hold the power to impact & influence a person’s mind.
              Well, that would be almost equal to its absence! And what if the
              tagline of your company attracts negative vibrations and positions
              your company as something that it is not, would you like to have
              it as a Tagline?
            </p>
            <ul>
              <p class="para">
                That is exactly why, any brand must have a tagline that displays
                a positive and vibrant notion of the company. A great tagline
                can:
              </p>

              <div class="px-3">
                <li>
                  <b>Memorable:</b> Easy to recall and recognize, making it stick
                  in the minds of consumers.
                </li>

                <li>Enhance the brand promise</li>
                <li>Inspire you to learn more about the brand or company</li>
                <li>Differentiate the brand or company from the competition</li>
                <li>Create an emotional bond</li>
              </div>
            </ul>
            <ul>
              To arrive at a perfect tagline:

              <li>
                We study the Astro-numerological chart of the Company and its
                Directors/Founder to understand the Favourable elements and
                Numerological Combinations that will add positive energy to the
                tagline
              </li>
              <li>
                Taglines are made defining the values, mission, and vision of a
                company in line with the Astro-numerological combinations.
              </li>
            </ul>
            <p>
              <b>By the help of Astro-numerological analysis</b> we can give a favourable
              name to the company, identify the company’s strengths and define specific
              opportunities and threats of the company in the market environment
              and help define its vision, mission and strategy.
            </p>

            <div>
              <h5 class="we-give">Deliverables:</h5>
              <p>
                Comprehensive Analysis Report giving your Company the Most
                Effective & Great Tagline.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- barnding 4 ends here  -->

  <script type="text/javascript"is:inline>
    const buyNowBtns = document.querySelectorAll('.buyNowBtn');

    buyNowBtns.forEach(button => {
        button.addEventListener('click', (e) => {
            const product = e.target.getAttribute('data-product');
            const price = e.target.getAttribute('data-price');
            window.location.href = `/checkout?product=${encodeURIComponent(product)}&price=${encodeURIComponent(price)}`;
        });
    });
</script>

</Layout>