---
import Layout from "../layouts/Layout.astro"
import '../../src/css/branding.css'
---

<Layout title="Astro-Branding">
    <div class="Banner-area Banner-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white my-auto d-flex  justify-content-center fw-bold about-text">
                    <a class="nav-link about-text" href="/">Home /</a> <a class="about-text text-white" href="/about"> &nbsp; Astro Management</a>
                   </div>
        </div>
    </div> 
</div>  

<!-- branding 1 starts  -->


<div class="container-fluid back-img">
    <div class="container p-4">
        <div class="row gy-3">
            <div class="col-lg-8 p-2" id="main">
                <div class="header-bg text-center p-3">ASTRO-Management
                </div>
                <div class="header-bg2 p-2">
                    <p class="para">
                        The person or persons controlling and directing the affairs of an organisation are the ones who are mainly responsible for its growth and prosperity. Here, Astrology plays its most important role, as from astrological point of view every Corporate Entity is ruled by various individuals which includes the CEO or Managing Director. Along with the Company’s Natal Chart, proper detailed analysis of the key Promoters & Directors using Jyotish tools become of utmost importance for its smooth running, operations and growth prospects. It will help us in identifying the areas of investment and selecting the line of activity. This is very important for the success of the project.

                
                    </p>
                
                
                   
                <h5 class="we-give">WE DO COMPREHENSIVE SWOT ANALYSIS FOR YOUR COMPANY WITH PROSPECTIVE GROWTH INDICATOR CHART (3 YEARS):

                </h5>
                <div>
                
                    <ul>    
                <b>  Comprehensive Swot Analysis For Your Company


                </b>
                <b>
                    A Comprehensive SWOT Analysis describes 9 Factors of your Company:


                </b>
                     <div class="px-3">
                        <li>Foundation & Longevity

                        </li>
                        <li>
                            Profitability & Cashflow

                
                        </li>
                        <li>
                            Memorable
                
                        </li>
                        <li>
                            Raising Capital & Finance

                
                        </li>
                        <li>
                            Brand Strength & Market Share

                        </li>
                        <li>Management & Leadership
                        </li>
                        <li>Workforce & Employees
                        </li>
                        <li>Innovation and R&D
                        </li>
                        <li>Operational Efficiency
                        </li>
                        <li>Technology & Systems Development
                        </li>
                     </div>
                    </ul>
                </div>
              
                
            
                <div>
                    <h5 class="we-give">
                        How we do it?
                
                    </h5>
                    <ul>
                        <li>Detailed Planetary Analysis of the Sun Chart as well as Numerological Birth Chart of your Company to understand the Potential the Company is born with.

                        </li>
                        <li>Detailed Horoscope as well as Numerological Birth Chart Analysis of the Key Owners/Directors of the company to arrive at SAT (Strengths, Area of Caution, & the Time Period) Analysis

                        </li>
                        <li>Comprehensive Analysis of all the parameters of the Comapany as well as the Key Owners to understand the Strengths, Weaknesses, Opportunities and Threats of the company along with its graphical representation.

                        </li>
                        <li>Arriving at the most favourable “Common Compatible Planet Numbers” ie. The Astro-numerological values arrived that is commonly compatible to the Karaka Planet and the favourable planets of the Owners/Partners/Shareholders.
                        </li>
                  <b>The Company’s Birth/Natal Chart tells us about the following:
                </b>
                <li>Company’s Natural Characteristics & Traits.
                </li>
                <li>Its Strong & Weak areas of functioning.
                </li>
                <li>Its ability to raise finances & service its debts.
                </li>
                <li>The market response the Company shall receive and
                </li>
                <li>An overall potentiality for expansion & growth.
                </li>
                <p>
                    Our research & experience shows that about 30-40% is contributed by the Company’s chart & 60-70% by its key promoter’s & director’s chart, depending upon planetary strength & various other factors, in evaluating the Company’s growth prospective. We perform a Comprehensive SWOT analysis i.e. identifying Strengths, Weaknesses, Opportunities & Threats of your Company by deeply evaluating the Company’s Natal Chart along with the key Promoters & Directors using Jyotish & Numerological Tools. Comprehensive SWOT Analysis helps us in:


                </p>
                <li>Defining the roles of the Directors / Key officers as per their Natural instinct or strengths where their performance can come naturally on its optimum level.
                </li>
                <li>Identifying strong areas of functioning in order to take its maximum advantage. For eg. The marketing efforts can fetch best results if put in the areas as per the directions that are most favourable for the Company.
                </li>
                <li>Identifying weak areas of functioning and take the remedial measures in order to mitigate its negative effects.
                </li>
                    </ul>
                </div>
                
                <div>
                        <h5 class="we-give">Deliverables:
                        </h5>
                        <p>
                            Comprehensive Analysis Report that includes the Company’s Charts Analysis, The Owners Charts Analysis and the Comprehensive SWOT analysis, the graphical representation of the same along with the Prospective Growth Indicator Chart (3 Years).

                
                
                        </p>
                </div>
                    </div>
                        </div>
                
                        <div class="col-lg-4 p-2" id="sidebar">
                           <div class="header-bg p-3 text-center">
                                    Name Analysis With Suggested Names
                    
                                </div>
                            <div class="header-bg2  p-4 text-center" id="header">
                               
                                <strike class="text-center fs-4">
                                    (₹21000)
                                    </strike>
                                    <p class="text-center pt-5 fs-4">
                                        ₹10000
                                     </p>
                                     <div class="text-center p-2">
                                        <!-- <button type="submit" class="btn-24 buyNowBtns">Buy now</button> -->
                                        <button type="submit" class="btn-24 buyNowBtn" data-product="Name Analysis With Suggested Names" data-price="10000 ">Buy now</button>
        
                                     </div>
                                     <div class="text-center mt-2">
                                        <img class="w-100 text-center" src="../../src/Assets/Images/swot.jpg" alt="">
                                     </div>
                            </div>
                         

                        </div>
        </div>
      
    </div>
</div>

 <!-- barnding 1 ends here  -->

 <!-- barnding 2 starts here  -->


 <div class="container-fluid back-img">
    <div class="container p-4">
        <div class="row gy-3">
            <div class="col-lg-4 p-2" id="sidebar">
                <div class="header-bg p-3 text-center">
                    Detailed Personality Analysis with Favourable/Unfavourable periods (3 Years)

                     </div>
                 <div class="header-bg2  p-4 text-center" id="header">
                    
                     <strike class="text-center fs-4">
                         (₹21000)
                         </strike>
                         <p class="text-center pt-5 fs-4">
                             ₹10000
                          </p>
                          <div class="text-center p-2">
                             <!-- <button type="submit" class="btn-24 buyNowBtns">Buy now</button> -->
                             <button type="submit" class="btn-24 buyNowBtn" data-product=" Detailed Personality Analysis with Favourable/Unfavourable periods (3 Years)" data-price="10000 ">Buy now</button>
        

                          </div>
                          <div class="text-center mt-2">
                             <img class="w-100 text-center" src="../../src/Assets/Images/success.jpg" alt="">
                          </div>
                 </div>
              

             </div>

            <div class="col-lg-8 p-2" id="main">
                <div class="header-bg text-center p-3">DETAILED PERSONALITY ANALYSIS OF THE PROMOTERS & DIRECTORS / PARTNERS / PROPRIETOR IDENTIFYING THEIR CORE COMPETENCE SKILLS, AREA OF CAUTION AND FAVOURABLE & UNFAVOURABLE PERIODS (3 YEARS)

                </div>
                <div class="header-bg2 p-2">
            <p>
                The destiny of a Company directly depends on the destiny of its key persons running the Organisation. Though a body corporate is deemed to be an Individual and its Natal Horoscope can be erected, but the Horoscope of the CEO or Managing Director and other departmental heads and key officers is more important than the Natal Chart of the Company.


            </p>
                
                    <ul>
                      <p class="para"><b>Their detailed Astrological & Numerological analysis gives us the following:

                      </b>
                </p>
                
                     <div class="px-3">
<li>Core Competitive skills you are blessed with which indicates your ideal role or area of activity where your performance comes naturally.
</li>
                       
                     <li>
                        Your weak areas i.e. area where you need to take caution while performing your role.

                     </li>
                        <li>
                            Favourable periods in your working career showing great time & opportunities for growth, prosperity & happiness.
                
                        </li>
                        <li>Unfavourable periods in your working career indicating threats in the form of speed breakers & bad patches in life causing disappointments, losses & litigations.

                        </li>
                   <li>
                    Various Yogas of Wealth you are born with giving a picture of your overall financial prosperity in life.

                   </li>
                   <li>
                    Overall health & stamina to support your work performance.

                   </li>
                     </div>
                      </ul>  
                  

                
             
                
                <div>
                        <h5 class="we-give">Deliverables:
                        </h5>
                        <p>
                            Comprehensive Analysis Report giving the Detailed Personality Analysis of the Promoters & Directors/Partners/Proprietor with their Core Competence Skills, Area of Caution and Favourable/Unfavourable periods (3 Years).


                
                
                        </p>
                </div>
                    </div>
                        </div>
                
                      
        </div>
      
    </div>
</div>

 <!-- barnding 2 ends here  -->


 <!-- barnding 3 starts here  -->


 <div class="container-fluid back-img">
    <div class="container p-4">
        <div class="row gy-3">
         

            <div class="col-lg-8 p-2" id="main">
                <div class="header-bg text-center p-3">COMPATIBILITY & SKILL ANALYSIS OF THE MANAGEMENT TEAM.


                </div>
                <div class="header-bg2 p-2">
                    <p class="para">
                        Management team need to well equipped with the right skillset & decision making capabilities. Also, it is most important to have the right coordination and cooperation between the members. Without each other’s cooperation & support, a company can never function smoothly & grow. The Management Team who makes decisions on behalf of the Company are not in mutual consent & agreement, disputes are bound to happen which sows a seed for damage of the work ecosystem. By the help of Astrological & Numerological tools, we do a Compatibility & Skill analysis of the Management Team of the directors / decisionmakers to understand the following:


                    </p>
                
                    <ol type="a">
               
                
                     <div class="px-3">
                  
                        <li>
                            Bonding & Understanding Levels that can take the Company forward for Long Term.
                
                        </li>
                       
                      <li>
                        Their ability to complement or supplement each other which helps the Company to function uninterruptedly & smoothly.
 
                      </li>
                      <li>Enable healthy & fair division of roles & responsibilities.


                      </li>
                     </div>
                      </ul>  
                 

                
              
                <div>
                        <h5 class="we-give">Deliverables:
                        </h5>
                        <p>
                            Comprehensive Analysis Report giving the Compatibility & Skill Analysis of the Management Team with their Strengths & Weaknesses along with graphical representation of the same.

                            
                
                
                        </p>
                </div>
                    </div>
                        </div>
                        <div class="col-lg-4 p-2" id="sidebar">
                            <div class="header-bg p-3 text-center">
                                Team Compatibility & Skill Analysis
            
                     
                                 </div>
                             <div class="header-bg2  p-4 text-center" id="header">
                                
                                 <strike class="text-center fs-4">
                                     (₹51000)
                                     </strike>
                                     <p class="text-center pt-5 fs-4">
                                        ₹37000
                                    </p>
                                      <div class="text-center p-2">
                                         <!-- <button type="submit" class="btn-24 buyNowBtns">Buy now</button> -->
                                         <button type="submit" class="btn-24 buyNowBtn" data-product=" Team Compatibility & Skill Analysis" data-price="10000 ">Buy now</button>

            
                                      </div>
                                      <div class="text-center mt-2">
                                         <img class="w-100 text-center" src="../../src/Assets/Images/astro.jpg" alt="">
                                      </div>
                             </div>
                          
            
                         </div>
                      
        </div>
      
    </div>
</div>

 <!-- barnding 3 ends here  -->


 <!-- barnding 4 starts here  -->


 <div class="container-fluid back-img">
    <div class="container p-4">
        <div class="row gy-3">
            <div class="col-lg-4 p-2" id="sidebar">
                <div class="header-bg p-3 text-center">
                    Most Favourable Shareholding Pattern

                     </div>
                 <div class="header-bg2  p-4 text-center" id="header">
                    
                     <strike class="text-center fs-4">
                         (₹51000)
                         </strike>
                         <p class="text-center pt-5 fs-4">
                             ₹37000
                          </p>
                          <div class="text-center p-2">
                             <!-- <button type="submit" class="btn-24  buyNowBtns">Buy now</button> -->
                             <button type="submit" class="btn-24 buyNowBtn" data-product=" Most Favourable Shareholding Pattern" data-price="10000 ">Buy now</button>


                          </div>
                       
                 </div>
              

             </div>

            <div class="col-lg-8 p-2" id="main">
                <div class="header-bg text-center p-3">WE GIVE FAVOURABLE SHAREHOLDING PATTERN FOR YOUR COMPANY


                </div>
                <div class="header-bg2 p-2">
            
                <p>
                    Shareholding pattern which is most favourable to the Company as well as its Shareholders is an important factor to decide. A careful analysis of Promoters & Shareholders charts enable us to arrive on the following criterion for deciding share holding pattern:



                </p>
                    <ol type="a">
                      <p class="para">
                        That is exactly why, any brand must have a tagline that displays a positive and vibrant notion of the company. A great tagline can:

                    </p>
                
                     <div class="px-3">
                      <li>
                        Potentiality of Raising finance and debt servicing.

                      </li>
                      <li>
                        Potentiality of Wealth creation & earning profits.

                      </li>
                  
                        <li>
                            An overall Favourable period in working tenure.
                
                        </li>
                        <li>Rajyogas & Growth Oriented Destiny.


                        </li>
                     
                        
                     </div>
                      </ul>  
                  

                
           
                <div>
                        <h5 class="we-give">Deliverables:
                        </h5>
                        <p>
                            Comprehensive Analysis Report giving the Most Favourable Shareholding Pattern/Partnership Holdings for your Company.


                
                
                        </p>
                </div>
                    </div>
                        </div>
                
                      
        </div>
      
    </div>
</div>

 <!-- barnding 4 ends here  -->

 <script type="text/javascript"is:inline>
    const buyNowBtns = document.querySelectorAll('.buyNowBtn');

    buyNowBtns.forEach(button => {
        button.addEventListener('click', (e) => {
            const product = e.target.getAttribute('data-product');
            const price = e.target.getAttribute('data-price');
            // window.location.href = /checkout?product=${encodeURIComponent(product)}&price=${encodeURIComponent(price)};
            window.open(`/checkout?product=${encodeURIComponent(product)}&price=${encodeURIComponent(price)}`);
        });
    });
</script>





</Layout>