---
import Layout from "../layouts/Layout.astro"
import '../../src/css/diagnostic.css'
---
<Layout title="⁠Astro Business Diagnostic Report">

<div class="Banner-area Banner-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white my-auto d-flex  justify-content-center fw-bold about-text">
                    <a class="nav-link about-text" href="/">Home /</a> <a class="about-text text-white" href="/about"> &nbsp;Astro Business Diagnostic Report
                    </a>
                   </div>
        </div>
    </div> 
</div>

<div class="container-fluid pt-lg-5 back-img">
    <div class="container down-top">
      
  <div class="row">
    <h3 class="bussiness-text">⁠Your Business Diagnosis to assess the Favourable and Unfavourable Energies in your Business.
    </h3>
    <div class="col-lg-6">
        <div id="wpforms-1309-field_1-container" class="wpforms-field wpforms-field-name wpforms-one-half wpforms-first" data-field-id="1">
            <label class="wpforms-field-label" for="wpforms-1309-field_1">
                Name of the Organisation (As per Registration Certificate)<span class="wpforms-required-label">*</span>
            </label>
            <input type="text" id="wpforms-1309-field_1" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][1]" placeholder="Name of the Organisation" required="">
        </div>
    </div>
    <div class="col-lg-6">
        <div id="wpforms-1309-field_1-container" class="wpforms-field wpforms-field-name wpforms-one-half wpforms-first" data-field-id="1">
            <label class="wpforms-field-label" for="wpforms-1309-field_1">
                Nature of the Organisation
                <span class="wpforms-required-label">*</span>
            </label>
            <input type="text" id="wpforms-1309-field_1" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][1]" placeholder="Proprietorship/Partnership/LLP/Pvt.Ltd/Ltd" required="">
        </div>
    </div>
    <div class="col-lg-6">
        <div id="wpforms-1309-field_1-container" class="wpforms-field wpforms-field-name wpforms-one-half wpforms-first" data-field-id="1">
            <label class="wpforms-field-label" for="wpforms-1309-field_1">
                Date of Incorporation (for Company)/Partnership deed (For Partnership Firm)<span class="wpforms-required-label">*</span>
            </label>
            <input type="text" id="wpforms-1309-field_1" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][1]" placeholder="Name of the Organisation" required="">
        </div>
    </div>
    <div class="col-lg-6">
        <div id="wpforms-1309-field_1-container" class="wpforms-field wpforms-field-name wpforms-one-half wpforms-first" data-field-id="1">
            <label class="wpforms-field-label" for="wpforms-1309-field_1">
                Date of GST/ Other Registration
            </label>
            <input type="text" id="wpforms-1309-field_1" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][1]" placeholder="Gst/Other Registration" required="">
        </div>
    </div>
    <div class="col-lg-6">
        
  <!-- Business Select Field -->
  <div id="wpforms-1309-field_83-container" class="wpforms-field wpforms-one-half wpforms-first">
    <label class="wpforms-field-label" for="wpforms-1309-field_83">
      Business <span class="wpforms-required-label">*</span>
    </label>
    <div class="wpforms-field-row wpforms-field-large">
      <select id="wpforms-1309-field_83" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][83]" required>
        <option value="">FARMING & AGRICULTURE</option>
        <option value="MINING AND QUARRYING">MINING AND QUARRYING</option>
        <option value="MANUFACTURING">MANUFACTURING</option>
        <option value="CONSTRUCTION">CONSTRUCTION</option>
        <option value="UTILITIES">UTILITIES</option>
        <option value="WHOLESALE AND RETAIL TRADE">WHOLESALE AND RETAIL TRADE</option>
        <option value="TRANSPORTATION AND WAREHOUSING">TRANSPORTATION AND WAREHOUSING</option>
        <option value="INFORMATION AND COMMUNICATION">INFORMATION AND COMMUNICATION</option>
        <option value="FINANCE AND INSURANCE">FINANCE AND INSURANCE</option>
        <option value="REAL ESTATE, RENTAL, AND LEASING">REAL ESTATE, RENTAL, AND LEASING</option>
        <option value="PROFESSIONAL, SCIENTIFIC, AND TECHNICAL SERVICES">PROFESSIONAL, SCIENTIFIC, AND TECHNICAL SERVICES</option>
        <option value="HEALTHCARE AND SOCIAL ASSISTANCE">HEALTHCARE AND SOCIAL ASSISTANCE</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </div>
  
    </div>
    <div class="col-lg-6">
        <div id="wpforms-1309-field_6-container" class="wpforms-field wpforms-field-textarea" data-field-id="6">
            <label class="wpforms-field-label" for="wpforms-1309-field_6">Registered Address of the Organisation: <span class="wpforms-required-label">*</span></label>
            <textarea id="wpforms-1309-field_6" class="wpforms-field-large wpforms-field-required" name="wpforms[fields][6]" required=""></textarea>
          </div>
          
    </div>
  </div>
    </div>




<div class="container mt-2">

<div class="repeater-field-warp-item-data mt-3" data-initial_rows_map="" data-map_id="" data-initial_rows="1" data-limit="10">
    <div class="repeater-field-warp-item">
        <div class="repeater-field-item active">
            <div class="repeater-field-header">
                <div class="repeater-field-header-title">Major Share Holders Details / Partners / Owner
                </div>
                <div class="repeater-field-header-acctions">
                    <ul>
                        <li><i class="repeater-icon repeater-field-header-acctions-toogle icon-down-open" aria-hidden="true">▼</i></li>
                    </ul>
                </div>
            </div>
            <div class="repeater-field-content">
                <div class="container-repeater-field" data-id="4299">
                    <div id="wpforms-1309-field_15-4299-container" class="wpforms-field wpforms-one-fourth wpforms-first">
                        <label class="wpforms-field-label" for="wpforms-1309-field_15">Full Name</label>
                        <input type="text" id="wpforms-1309-field_15-4299" class="wpforms-field-large" name="wpforms[fields][15_4299]" placeholder="Full Name">
                    </div>
                    <div id="wpforms-1309-field_16-4299-container" class="wpforms-field wpforms-one-fourth">
                        <label class="wpforms-field-label" for="wpforms-1309-field_16">Designation</label>
                        <input type="text" id="wpforms-1309-field_16-4299" class="wpforms-field-large" name="wpforms[fields][16_4299]" placeholder="Designation">
                    </div>
                    <div id="wpforms-1309-field_17-4299-container" class="wpforms-field wpforms-one-fourth">
                        <label class="wpforms-field-label" for="wpforms-1309-field_17">DOB</label>
                        <input type="text" id="wpforms-1309-field_17-4299" class="wpforms-field-large" name="wpforms[fields][17_4299]" placeholder="DOB">
                    </div>
                    <div id="wpforms-1309-field_18-4299-container" class="wpforms-field wpforms-one-fourth">
                        <label class="wpforms-field-label" for="wpforms-1309-field_18">TOB</label>
                        <input type="text" id="wpforms-1309-field_18-4299" class="wpforms-field-large" name="wpforms[fields][18_4299]" placeholder="TOB">
                    </div>
                    <div id="wpforms-1309-field_19-4299-container" class="wpforms-field wpforms-one-fourth wpforms-first">
                        <label class="wpforms-field-label" for="wpforms-1309-field_19">POB</label>
                        <input type="text" id="wpforms-1309-field_19-4299" class="wpforms-field-large" name="wpforms[fields][19_4299]" placeholder="POB">
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>

</div>

<div class="container mt-2">

    <div class="repeater-field-warp-item-data mt-3" data-initial_rows_map="" data-map_id="" data-initial_rows="1" data-limit="10">
        <div class="repeater-field-warp-item">
            <div class="repeater-field-item active">
                <div class="repeater-field-header">
                    <div class="repeater-field-header-title"> Directors / Chief Officers / Working Partners</div>
                    <div class="repeater-field-header-acctions">
                        <ul>
                            <li><i class="repeater-icon repeater-field-header-acctions-toogle icon-down-open" aria-hidden="true">▼</i></li>
                        </ul>
                    </div>
                </div>
                <div class="repeater-field-content">
                    <div class="container-repeater-field" data-id="4299">
                        <div id="wpforms-1309-field_15-4299-container" class="wpforms-field wpforms-one-fourth wpforms-first">
                            <label class="wpforms-field-label" for="wpforms-1309-field_15">Full Name</label>
                            <input type="text" id="wpforms-1309-field_15-4299" class="wpforms-field-large" name="wpforms[fields][15_4299]" placeholder="Full Name">
                        </div>
                        <div id="wpforms-1309-field_16-4299-container" class="wpforms-field wpforms-one-fourth">
                            <label class="wpforms-field-label" for="wpforms-1309-field_16">Designation</label>
                            <input type="text" id="wpforms-1309-field_16-4299" class="wpforms-field-large" name="wpforms[fields][16_4299]" placeholder="Designation">
                        </div>
                        <div id="wpforms-1309-field_17-4299-container" class="wpforms-field wpforms-one-fourth">
                            <label class="wpforms-field-label" for="wpforms-1309-field_17">DOB</label>
                            <input type="text" id="wpforms-1309-field_17-4299" class="wpforms-field-large" name="wpforms[fields][17_4299]" placeholder="DOB">
                        </div>
                        <div id="wpforms-1309-field_18-4299-container" class="wpforms-field wpforms-one-fourth">
                            <label class="wpforms-field-label" for="wpforms-1309-field_18">TOB</label>
                            <input type="text" id="wpforms-1309-field_18-4299" class="wpforms-field-large" name="wpforms[fields][18_4299]" placeholder="TOB">
                        </div>
                        <div id="wpforms-1309-field_19-4299-container" class="wpforms-field wpforms-one-fourth wpforms-first">
                            <label class="wpforms-field-label" for="wpforms-1309-field_19">POB</label>
                            <input type="text" id="wpforms-1309-field_19-4299" class="wpforms-field-large" name="wpforms[fields][19_4299]" placeholder="POB">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    
    </div>
    
<div class="container mt-5">

    <div class="row ">
            <h4><b> Sales and Marketing:
            </b>

    </h4>
    <p>Rating Details: 1,2 (star) : Much Worse Than Competitors, 3 (star) : At Levels, 4,5 (star) : Much Better Than Competitors

    </p>
    <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Your Brand Recognition in the Market</b>
            </h5>
            <div class="star-rating">
                <div class="star" data-set="1">&#9733;</div>
                <div class="star" data-set="1">&#9733;</div>
                <div class="star" data-set="1">&#9733;</div>
                <div class="star" data-set="1">&#9733;</div>
                <div class="star" data-set="1">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Your Sales Growth Year on Year
            </b>
            </h5>
            <div class="star-rating">
                <div class="star" data-set="2">&#9733;</div>
                <div class="star" data-set="2">&#9733;</div>
                <div class="star" data-set="2">&#9733;</div>
                <div class="star" data-set="2">&#9733;</div>
                <div class="star" data-set="2">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Relationship with Customers</b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="3">&#9733;</div>
                <div class="star" data-set="3">&#9733;</div>
                <div class="star" data-set="3">&#9733;</div>
                <div class="star" data-set="3">&#9733;</div>
                <div class="star" data-set="3">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Exploring New Markets
            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="4">&#9733;</div>
                <div class="star" data-set="4">&#9733;</div>
                <div class="star" data-set="4">&#9733;</div>
                <div class="star" data-set="4">&#9733;</div>
                <div class="star" data-set="4">&#9733;</div>
              </div>            </div>
        </div>
      </div><div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Customer Loyalty
            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="5">&#9733;</div>
                <div class="star" data-set="5">&#9733;</div>
                <div class="star" data-set="5">&#9733;</div>
                <div class="star" data-set="5">&#9733;</div>
                <div class="star" data-set="5">&#9733;</div>
              </div>            </div>
        </div>
      </div>
    
    
</div>







</div>


<div class="container mt-5">

    <div class="row ">
            <h4><b> Wealth and Finance:

            </b>

    </h4>
    <p>Rating Details: 1,2 (star) : Much Worse Than Competitors, 3 (star) : At Levels, 4,5 (star) : Much Better Than Competitors



    </p>
    <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Your Gross Profit Margin
            </b>
            </h5>
            <div class="star-rating">
                <div class="star" data-set="6">&#9733;</div>
                <div class="star" data-set="6">&#9733;</div>
                <div class="star" data-set="6">&#9733;</div>
                <div class="star" data-set="6">&#9733;</div>
                <div class="star" data-set="6">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Net Profit After Taxes

            </b>
            </h5>
            <div class="star-rating">
                <div class="star" data-set="7">&#9733;</div>
                <div class="star" data-set="7">&#9733;</div>
                <div class="star" data-set="7">&#9733;</div>
                <div class="star" data-set="7">&#9733;</div>
                <div class="star" data-set="7">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Building Capital Reserves
            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="8">&#9733;</div>
                <div class="star" data-set="8">&#9733;</div>
                <div class="star" data-set="8">&#9733;</div>
                <div class="star" data-set="8">&#9733;</div>
                <div class="star" data-set="8">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Raising Funds whenever required

            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="9">&#9733;</div>
                <div class="star" data-set="9">&#9733;</div>
                <div class="star" data-set="9">&#9733;</div>
                <div class="star" data-set="9">&#9733;</div>
                <div class="star" data-set="9">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Servicing of Debts


            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="10">&#9733;</div>
                <div class="star" data-set="10">&#9733;</div>
                <div class="star" data-set="10">&#9733;</div>
                <div class="star" data-set="10">&#9733;</div>
                <div class="star" data-set="10">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      

</div>

</div>

<div class="container mt-5">

    <div class="row ">
            <h4><b> Business Management:

            </b>

    </h4>
<p>Rating Details: 1,2 (star) : Much Worse Than Competitors, 3 (star) : At Levels, 4,5 (star) : Much Better Than Competitors

</p>
  
    <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Planning of Business Strategies
            </b>
            </h5>
            <div class="star-rating">
                <div class="star" data-set="11">&#9733;</div>
                <div class="star" data-set="11">&#9733;</div>
                <div class="star" data-set="11">&#9733;</div>
                <div class="star" data-set="11">&#9733;</div>
                <div class="star" data-set="11">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Proper Execution and Reporting

            </b>
            </h5>
            <div class="star-rating">
                <div class="star" data-set="12">&#9733;</div>
                <div class="star" data-set="12">&#9733;</div>
                <div class="star" data-set="12">&#9733;</div>
                <div class="star" data-set="12">&#9733;</div>
                <div class="star" data-set="12">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Coordination between the Team
            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="13">&#9733;</div>
                <div class="star" data-set="13">&#9733;</div>
                <div class="star" data-set="13">&#9733;</div>
                <div class="star" data-set="13">&#9733;</div>
                <div class="star" data-set="13">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Systems and Policies

            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="14">&#9733;</div>
                <div class="star" data-set="14">&#9733;</div>
                <div class="star" data-set="14">&#9733;</div>
                <div class="star" data-set="14">&#9733;</div>
                <div class="star" data-set="14">&#9733;</div>
              </div>            </div>
        </div>
      </div><div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Business Expansion and Diversification

            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="15">&#9733;</div>
                <div class="star" data-set="15">&#9733;</div>
                <div class="star" data-set="15">&#9733;</div>
                <div class="star" data-set="15">&#9733;</div>
                <div class="star" data-set="15">&#9733;</div>
              </div>            </div>
        </div>
      </div>
    
    
</div>







</div>


<div class="container mt-5">

    <div class="row ">
            <h4><b> Employees and Workforce:

            </b>

    </h4>
<p>Rating Details: 1,2 (star) : Much Worse Than Competitors, 3 (star) : At Levels, 4,5 (star) : Much Better Than Competitors

</p>
  
    <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Sourcing of the Right Manpower

            </b>
            </h5>
            <div class="star-rating">
                <div class="star" data-set="16">&#9733;</div>
                <div class="star" data-set="16">&#9733;</div>
                <div class="star" data-set="16">&#9733;</div>
                <div class="star" data-set="16">&#9733;</div>
                <div class="star" data-set="16">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Employee Motivation and Commitment


            </b>
            </h5>
            <div class="star-rating">
                <div class="star" data-set="17">&#9733;</div>
                <div class="star" data-set="17">&#9733;</div>
                <div class="star" data-set="17">&#9733;</div>
                <div class="star" data-set="17">&#9733;</div>
                <div class="star" data-set="17">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Employee Retention

            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="18">&#9733;</div>
                <div class="star" data-set="18">&#9733;</div>
                <div class="star" data-set="18">&#9733;</div>
                <div class="star" data-set="18">&#9733;</div>
                <div class="star" data-set="18">&#9733;</div>
              </div>            </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Interpersonal Relationship

            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="19">&#9733;</div>
                <div class="star" data-set="19">&#9733;</div>
                <div class="star" data-set="19">&#9733;</div>
                <div class="star" data-set="19">&#9733;</div>
                <div class="star" data-set="19">&#9733;</div>
              </div>            </div>
        </div>
      </div><div class="col-sm-4 mb-3 mb-sm-0 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <b>Skill Development and Performance

            </b>

            </h5>
            <div class="star-rating">
                <div class="star" data-set="20">&#9733;</div>
                <div class="star" data-set="20">&#9733;</div>
                <div class="star" data-set="20">&#9733;</div>
                <div class="star" data-set="20">&#9733;</div>
                <div class="star" data-set="20">&#9733;</div>
              </div>            </div>
        </div>
      </div>
    
    
</div>


</div>



<div class="container mt-5 pb-5">
    <h4> <b>Other Information:</b>
    </h4>
    <div class="row">
        
        <div class="col-lg-4">
            <div id="wpforms-1309-field_70-container" class="wpforms-field wpforms-field-checkbox wpforms-one-third wpforms-first wpforms-list-inline" data-field-id="70">
                <label class="wpforms-field-label" for="wpforms-1309-field_70">Disputes between the Directors/Partners resulting in no/slow decision making.</label>
                <ul id="wpforms-1309-field_70" data-choice-limit="1">
                    <li class="choice-1 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_1" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Always" placeholder="" class="wpforms-valid checkbox-limit" aria-invalid="false">Always
                    </li>
                    <li class="choice-2 depth-1 wpforms-selected">
                        <input type="checkbox" id="wpforms-1309-field_70_2" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Mostly" class="wpforms-valid checkbox-limit" placeholder="" aria-invalid="false">Mostly
                    </li>
                    <li class="choice-3 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_3" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Often" class="wpforms-valid checkbox-limit">Often
                    </li>
                    <li class="choice-4 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_4" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Seldom" class="wpforms-valid checkbox-limit">Seldom
                    </li>
                    <li class="choice-5 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_5" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Never" class="wpforms-valid checkbox-limit">Never
                    </li>
                    <p class="error-message">You have exceeded the number of allowed selections</p>

                </ul>
            </div>
            
        </div>


        <div class="col-lg-4">
            <div id="wpforms-1309-field_70-container" class="wpforms-field wpforms-field-checkbox wpforms-one-third wpforms-first wpforms-list-inline" data-field-id="70">
                <label class="wpforms-field-label" for="wpforms-1309-field_70">Customers enquiring for product/services from us but buying from a competitor.
                    .</label>
                    <ul id="wpforms-1309-field_70" data-choice-limit="1">
                        <li class="choice-1 depth-1">
                            <input type="checkbox" id="wpforms-1309-field_70_1" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Always" placeholder="" class="wpforms-valid checkbox-limit1" aria-invalid="false">Always
                        </li>
                        <li class="choice-2 depth-1 wpforms-selected">
                            <input type="checkbox" id="wpforms-1309-field_70_2" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Mostly" class="wpforms-valid checkbox-limit1" placeholder="" aria-invalid="false">Mostly
                        </li>
                        <li class="choice-3 depth-1">
                            <input type="checkbox" id="wpforms-1309-field_70_3" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Often" class="wpforms-valid checkbox-limit1">Often
                        </li>
                        <li class="choice-4 depth-1">
                            <input type="checkbox" id="wpforms-1309-field_70_4" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Seldom" class="wpforms-valid checkbox-limit1">Seldom
                        </li>
                        <li class="choice-5 depth-1">
                            <input type="checkbox" id="wpforms-1309-field_70_5" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Never" class="wpforms-valid checkbox-limit1">Never
                        </li>
                        <p class="error-message1">You have exceeded the number of allowed selections</p>
    
                    </ul>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div id="wpforms-1309-field_70-container" class="wpforms-field wpforms-field-checkbox wpforms-one-third wpforms-first wpforms-list-inline" data-field-id="70">
                <label class="wpforms-field-labeb5" for="wpforms-1309-field_70">Payments getting stuck and recovery gets difficult and  Delays in payment .
                </label>
                <ul id="wpforms-1309-field_70" data-choice-limit="1">
                    <li class="choice-1 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_1" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Always" placeholder="" class="wpforms-valid checkbox-limit2" aria-invalid="false">Always
                    </li>
                    <li class="choice-2 depth-1 wpforms-selected">
                        <input type="checkbox" id="wpforms-1309-field_70_2" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Mostly" class="wpforms-valid checkbox-limit2" placeholder="" aria-invalid="false">Mostly
                    </li>
                    <li class="choice-3 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_3" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Often" class="wpforms-valid checkbox-limit2">Often
                    </li>
                    <li class="choice-4 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_4" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Seldom" class="wpforms-valid checkbox-limit2">Seldom
                    </li>
                    <li class="choice-5 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_5" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Never" class="wpforms-valid checkbox-limit2">Never
                    </li>
                    <p class="error-message2">You have exceeded the number of allowed selections</p>

                </ul>
            </div>
        </div>

        <div class="col-lg-4">
            <div id="wpforms-1309-field_70-container" class="wpforms-field wpforms-field-checkbox wpforms-one-third wpforms-first wpforms-list-inline" data-field-id="70">
                <label class="wpforms-field-label" for="wpforms-1309-field_70">Lack of Cash Flow leading to operational difficulties and amaging customer relationships.
                </label>
                <ul id="wpforms-1309-field_70" data-choice-limit="1">
                    <li class="choice-1 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_1" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Always" placeholder="" class="wpforms-valid checkbox-limit3" aria-invalid="false">Always
                    </li>
                    <li class="choice-2 depth-1 wpforms-selected">
                        <input type="checkbox" id="wpforms-1309-field_70_2" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Mostly" class="wpforms-valid checkbox-limit3" placeholder="" aria-invalid="false">Mostly
                    </li>
                    <li class="choice-3 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_3" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Often" class="wpforms-valid checkbox-limit3">Often
                    </li>
                    <li class="choice-4 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_4" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Seldom" class="wpforms-valid checkbox-limit3">Seldom
                    </li>
                    <li class="choice-5 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_5" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Never" class="wpforms-valid checkbox-limit3">Never
                    </li>
                    <p class="error-message3">You have exceeded the number of allowed selections</p>

                </ul>
            </div>
        </div>

        <div class="col-lg-4">
            <div id="wpforms-1309-field_70-container" class="wpforms-field wpforms-field-checkbox wpforms-one-third wpforms-first wpforms-list-inline" data-field-id="70">
                <label class="wpforms-field-label" for="wpforms-1309-field_70">Employees creating disciplinary issues by not listening to their boss.
                </label>
                <ul id="wpforms-1309-field_70" data-choice-limit="1">
                    <li class="choice-1 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_1" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Always" placeholder="" class="wpforms-valid checkbox-limit4" aria-invalid="false">Always
                    </li>
                    <li class="choice-2 depth-1 wpforms-selected">
                        <input type="checkbox" id="wpforms-1309-field_70_2" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Mostly" class="wpforms-valid checkbox-limit4" placeholder="" aria-invalid="false">Mostly
                    </li>
                    <li class="choice-3 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_3" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Often" class="wpforms-valid checkbox-limit4">Often
                    </li>
                    <li class="choice-4 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_4" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Seldom" class="wpforms-valid checkbox-limit4">Seldom
                    </li>
                    <li class="choice-5 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_5" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Never" class="wpforms-valid checkbox-limit4">Never
                    </li>
                    <p class="error-message4">You have exceeded the number of allowed selections</p>

                </ul>
            </div>
        </div>


        <div class="col-lg-4">
            <div id="wpforms-1309-field_70-container" class="wpforms-field wpforms-field-checkbox wpforms-one-third wpforms-first wpforms-list-inline" data-field-id="70">
                <label class="wpforms-field-label" for="wpforms-1309-field_70">Employees leaving/resigning without any proper reason or prior notice.
                    .
                </label>
                <ul id="wpforms-1309-field_70" data-choice-limit="1">
                    <li class="choice-1 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_1" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Always" placeholder="" class="wpforms-valid checkbox-limit5" aria-invalid="false">Always
                    </li>
                    <li class="choice-2 depth-1 wpforms-selected">
                        <input type="checkbox" id="wpforms-1309-field_70_2" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Mostly" class="wpforms-valid checkbox-limit5" placeholder="" aria-invalid="false">Mostly
                    </li>
                    <li class="choice-3 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_3" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Often" class="wpforms-valid checkbox-limit5">Often
                    </li>
                    <li class="choice-4 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_4" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Seldom" class="wpforms-valid checkbox-limit5">Seldom
                    </li>
                    <li class="choice-5 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_5" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Never" class="wpforms-valid checkbox-limit5">Never
                    </li>
                    <p class="error-message5">You have exceeded the number of allowed selections</p>

                </ul>
            </div>
        </div>

        <div class="col-lg-4">
            <div id="wpforms-1309-field_70-container" class="wpforms-field wpforms-field-checkbox wpforms-one-third wpforms-first wpforms-list-inline" data-field-id="70">
                <label class="wpforms-field-label" for="wpforms-1309-field_70">Internal Thefts / Mishandling of Goods/Products resulting in loss and damage.

                    .
                </label>
                <ul id="wpforms-1309-field_70" data-choice-limit="1">
                    <li class="choice-1 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_1" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Always" placeholder="" class="wpforms-valid checkbox-limit6" aria-invalid="false">Always
                    </li>
                    <li class="choice-2 depth-1 wpforms-selected">
                        <input type="checkbox" id="wpforms-1309-field_70_2" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Mostly" class="wpforms-valid checkbox-limit6" placeholder="" aria-invalid="false">Mostly
                    </li>
                    <li class="choice-3 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_3" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Often" class="wpforms-valid checkbox-limit6">Often
                    </li>
                    <li class="choice-4 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_4" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Seldom" class="wpforms-valid checkbox-limit6">Seldom
                    </li>
                    <li class="choice-5 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_5" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Never" class="wpforms-valid checkbox-limit6">Never
                    </li>
                    <p class="error-message6">You have exceeded the number of allowed selections</p>

                </ul>
            </div>
        </div>


        <div class="col-lg-4">
            <div id="wpforms-1309-field_70-container" class="wpforms-field wpforms-field-checkbox wpforms-one-third wpforms-first wpforms-list-inline" data-field-id="70">
                <label class="wpforms-field-label" for="wpforms-1309-field_70">Staff leaking sensitive business information resulting in loss of sales or customers.


                    .
                </label>
                <ul id="wpforms-1309-field_70" data-choice-limit="1">
                    <li class="choice-1 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_1" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Always" placeholder="" class="wpforms-valid checkbox-limit7" aria-invalid="false">Always
                    </li>
                    <li class="choice-2 depth-1 wpforms-selected">
                        <input type="checkbox" id="wpforms-1309-field_70_2" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Mostly" class="wpforms-valid checkbox-limit7" placeholder="" aria-invalid="false">Mostly
                    </li>
                    <li class="choice-3 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_3" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Often" class="wpforms-valid checkbox-limit7">Often
                    </li>
                    <li class="choice-4 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_4" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Seldom" class="wpforms-valid checkbox-limit7">Seldom
                    </li>
                    <li class="choice-5 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_5" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Never" class="wpforms-valid checkbox-limit7">Never
                    </li>
                    <p class="error-message7">You have exceeded the number of allowed selections</p>

                </ul>
            </div>
        </div>



        <div class="col-lg-4">
            <div id="wpforms-1309-field_70-container" class="wpforms-field wpforms-field-checkbox wpforms-one-third wpforms-first wpforms-list-inline" data-field-id="70">
                <label class="wpforms-field-label" for="wpforms-1309-field_70">Earnings drain on account of excessive maintenance / sudden breakdowns                    .
                </label>
                <ul id="wpforms-1309-field_70" data-choice-limit="1">
                    <li class="choice-1 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_1" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Always" placeholder="" class="wpforms-valid checkbox-limit8" aria-invalid="false">Always
                    </li>
                    <li class="choice-2 depth-1 wpforms-selected">
                        <input type="checkbox" id="wpforms-1309-field_70_2" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Mostly" class="wpforms-valid checkbox-limit8" placeholder="" aria-invalid="false">Mostly
                    </li>
                    <li class="choice-3 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_3" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Often" class="wpforms-valid checkbox-limit8">Often
                    </li>
                    <li class="choice-4 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_4" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Seldom" class="wpforms-valid checkbox-limit8">Seldom
                    </li>
                    <li class="choice-5 depth-1">
                        <input type="checkbox" id="wpforms-1309-field_70_5" data-rule-check-limit="true" name="wpforms[fields][70][]" value="Never" class="wpforms-valid checkbox-limit8">Never
                    </li>
                    <p class="error-message8">You have exceeded the number of allowed selections</p>

                </ul>
            </div>
        </div>

    </div>
    <div class="container">
        <div id="custom-field-container" class="wpforms-field wpforms-field-textarea" data-field-id="custom">
            <label class="wpforms-field-label" for="custom-field">ANY OTHER INFORMATION:</label>
            <textarea id="custom-field" class="wpforms-field-large textarea" name="custom[fields]" placeholder=""></textarea>
          </div>
          
        <button type="submit" class="btn-24">Submit</button>
    
    </div>  
</div>


</div>


 <script type="text/javascript">


      document.querySelectorAll('.repeater-field-header').forEach(header => {
        header.addEventListener('click', () => {
            const parentItem = header.closest('.repeater-field-item');
            const content = parentItem.querySelector('.repeater-field-content');
            if (parentItem.classList.contains('active')) {
                content.classList.add('hidden'); // Hide content
                parentItem.classList.remove('active'); // Remove active class
            } else {
                content.classList.remove('hidden'); // Show content
                parentItem.classList.add('active'); // Add active class
            }
        });
    });   

    // const stars = document.querySelectorAll('.star');



// Select all the stars with the common class
const allStars = document.querySelectorAll('.star');

// Function to handle the star click and update active stars
function handleStarClick(stars, index) {
  stars.forEach((star, i) => {
    // Toggle active class based on the index
    if (i <= index) {
      star.classList.add('active');
    } else {
      star.classList.remove('active');
    }
  });
}

// Group stars based on the data-set attribute
const starSets = {};
allStars.forEach(star => {
  const setId = star.getAttribute('data-set');
  if (!starSets[setId]) {
    starSets[setId] = [];
  }
  starSets[setId].push(star);
});

// Add event listeners to all stars
Object.values(starSets).forEach(stars => {
  stars.forEach((star, index) => {
    star.addEventListener('click', () => {
      handleStarClick(stars, index);
    });
  });
});





document.querySelectorAll('.checkbox-limit').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.checkbox-limit');
            const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const errorMessage = document.querySelector('.error-message');

            if (checkedBoxes.length > 1) {
                errorMessage.style.display = 'block';
                this.checked = false; // Deselect the newly checked checkbox
            } else {
                errorMessage.style.display = 'none';
            }
        });
    });
  
    document.querySelectorAll('.checkbox-limit1').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.checkbox-limit1');
            const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const errorMessage = document.querySelector('.error-message1');

            if (checkedBoxes.length > 1) {
                errorMessage.style.display = 'block';
                this.checked = false; // Deselect the newly checked checkbox
            } else {
                errorMessage.style.display = 'none';
            }
        });
    });
  
  
    document.querySelectorAll('.checkbox-limit2').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.checkbox-limit2');
            const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const errorMessage = document.querySelector('.error-message2');

            if (checkedBoxes.length > 1) {
                errorMessage.style.display = 'block';
                this.checked = false; // Deselect the newly checked checkbox
            } else {
                errorMessage.style.display = 'none';
            }
        });
    });
  
    document.querySelectorAll('.checkbox-limit3').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.checkbox-limit3');
            const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const errorMessage = document.querySelector('.error-message3');

            if (checkedBoxes.length > 1) {
                errorMessage.style.display = 'block';
                this.checked = false; // Deselect the newly checked checkbox
            } else {
                errorMessage.style.display = 'none';
            }
        });
    });

    document.querySelectorAll('.checkbox-limit4').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.checkbox-limit4');
            const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const errorMessage = document.querySelector('.error-message4');

            if (checkedBoxes.length > 1) {
                errorMessage.style.display = 'block';
                this.checked = false; // Deselect the newly checked checkbox
            } else {
                errorMessage.style.display = 'none';
            }
        });
    });

    document.querySelectorAll('.checkbox-limit5').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.checkbox-limit5');
            const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const errorMessage = document.querySelector('.error-message5');

            if (checkedBoxes.length > 1) {
                errorMessage.style.display = 'block';
                this.checked = false; // Deselect the newly checked checkbox
            } else {
                errorMessage.style.display = 'none';
            }
        });
    });

    document.querySelectorAll('.checkbox-limit6').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.checkbox-limit6');
            const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const errorMessage = document.querySelector('.error-message6');

            if (checkedBoxes.length > 1) {
                errorMessage.style.display = 'block';
                this.checked = false; // Deselect the newly checked checkbox
            } else {
                errorMessage.style.display = 'none';
            }
        });
    });
    document.querySelectorAll('.checkbox-limit7').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.checkbox-limit7');
            const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const errorMessage = document.querySelector('.error-message7');

            if (checkedBoxes.length > 1) {
                errorMessage.style.display = 'block';
                this.checked = false; // Deselect the newly checked checkbox
            } else {
                errorMessage.style.display = 'none';
            }
        });
    });
    document.querySelectorAll('.checkbox-limit8').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('.checkbox-limit8');
            const checkedBoxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            const errorMessage = document.querySelector('.error-message8');

            if (checkedBoxes.length > 1) {
                errorMessage.style.display = 'block';
                this.checked = false; // Deselect the newly checked checkbox
            } else {
                errorMessage.style.display = 'none';
            }
        });
    });


  
  
</script>


</Layout>