---
import Layout from "../layouts/Layout.astro";
import "../../src/css/home.css";
---

<Layout title="Home">
  <div class="container-fluid back-img">
    <!-- Content can go here -->
     
       <!-- banner 1 starts here  -->

    <div class="container-fluid py-5">
      <div class="container content-text">
        <div class="row main-row">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h2 class="welcome-text">Welcome To Corp Astro</h2>
            <p class="banner-para">
              At Corp Astro, we specialize in leveraging the power of the cosmos
              to enhance your business success through astro-branding, astro
              staffing, and Vastu services. Led by renowned astrologers Dr.
              Tumul Raathi and Aanchal Rathi, we align your business strategies
              with astrological insights to boost profits, optimize sales, and
              improve employee dynamics. Our expert team provides personalized,
              holistic solutions that harmonize your brand, team, and workspace
              with cosmic energies, ensuring growth and prosperity. Partner with
              Corp Astro to unlock the celestial potential of your business.
            </p>
            <button class="btn-24"><span>Read more</span></button>
          </div>
          <div class="col-lg-6">
            <img
              class="img-fluid banner-roll-img text-end"
              src="../../src/Assets/Images/bannerimg.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  <!-- banner 1 ends here  -->

 <!-- banner 2 starts here  -->

 <div class="container-fluid nonne">
  <div class="container mainbg">
    <div class="row gap-row">
      <div class="col-lg-4">
        <div class="d-flex">
        
            <img
                  class="img-fluid private-img"
                  src="../../src/Assets/Images/private.png"
                  alt=""
                />
         
        
            <div class="content mx-4">
              <h3 class="big-text">Privacy</h3>
              <p class="small-para">
                
                Information obtained during the consultation is private</p>
            </div>
        
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex">
        
            <img
                  class="img-fluid private-img"
                  src="../../src/Assets/Images/result.png"
                  alt=""
                />
         
        
            <div class="content mx-4">
              <h3 class="big-text">Result guarantee</h3>
              <p class="small-para1">We provide a guaranteed 100% result.</p>
            </div>
        
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex">
        
            <img
                  class="img-fluid private-img"
                  src="../../src/Assets/Images/compete.png"
                  alt=""
                />
         
        
            <div class="content mx-4">
              <h3 class="big-text">Competence</h3>
              <p class="small-para">We only take on issues that we can solve</p>
            </div>
        
        </div>
      </div>
    </div>
  </div>
 </div>

<!-- banner 2 ends here  -->


<!-- banner 3 starts here  -->
<div class="container-fluid">
  <div class="container mainbg1">
    <div class="row">
      <div class="col-lg-6 text-center">
        <img class="img-fluid hand-img" src="../../src/Assets/Images/hands.png" alt="">
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h5 class="what mt-4">WHAT WE DO
        </h5>
        <h1 class="we mt-2">
          We know everything about astrology
        </h1>
        <p class="what-para">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mi tellus, pulvinar vel tempus eget, finibus vitae ante. Fusce sit amet velit eleifend, iaculis velit quis, malesuada lacus. Vestibulum sodales magna a volutpat tempus. Mauris vestibulum id urna viverra ultrices. Nullam rhoncus elit eget libero varius dapibus.
        </p>
       <a href="/about"> <button class="btn-24">Get Started</button></a>

      </div>
    </div>
  </div>
</div>



<!-- banner 4 starts here  -->

<!-- marquee starts here  -->
<div class="container zodiac-signs p-5">
  <div class="scrolling-wrapper">
    <div class="scrolling-images">
      <div class="text-center">
        <img class="sign-img" src="../../src/Assets/Images/sign1.png" alt="Image 1">
<p class="fw-bold fs-5">Aquarius</p>
      </div>
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign2.png" alt="Image 2">
      <p class="fw-bold fs-5">Pisces</p>
    </div>
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign3.png" alt="Image 3">
      <p class="fw-bold fs-5">Taurus</p>
    </div>      
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign4.png" alt="Image 4">
      <p class="fw-bold fs-5">Aries</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign5.png" alt="Image 5">
      <p class="fw-bold fs-5">Gemini</p>
    </div>  
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign6.png" alt="Image 6">
      <p class="fw-bold fs-5">Cancer</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign7.png" alt="Image 7">
      <p class="fw-bold fs-5">Leo</p>
    </div>     
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign8.png" alt="Image 8">
      <p class="fw-bold fs-5">Virgo</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign9.png" alt="Image 8">
      <p class="fw-bold fs-5">Libra</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign10.png" alt="Image 8">
      <p class="fw-bold fs-5">Scorpio</p>
    </div> 
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign11.png" alt="Image 8">
      <p class="fw-bold fs-5">Sagittarius</p>
    </div> 
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign12.png" alt="Image 8">
      <p class="fw-bold fs-5">Capricorn</p>
    </div> 
      <!-- Duplicated images for smooth infinite scrolling -->
      <div class="text-center">
        <img class="sign-img" src="../../src/Assets/Images/sign1.png" alt="Image 1">
<p class="fw-bold fs-5">Aquarius</p>
      </div>
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign2.png" alt="Image 2">
      <p class="fw-bold fs-5">Pisces</p>
    </div>
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign3.png" alt="Image 3">
      <p class="fw-bold fs-5">Taurus</p>
    </div>      
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign4.png" alt="Image 4">
      <p class="fw-bold fs-5">Aries</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign5.png" alt="Image 5">
      <p class="fw-bold fs-5">Gemini</p>
    </div>  
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign6.png" alt="Image 6">
      <p class="fw-bold fs-5">Cancer</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign7.png" alt="Image 7">
      <p class="fw-bold fs-5">Leo</p>
    </div>     
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign8.png" alt="Image 8">
      <p class="fw-bold fs-5">Virgo</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign9.png" alt="Image 8">
      <p class="fw-bold fs-5">Libra</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign10.png" alt="Image 8">
      <p class="fw-bold fs-5">Scorpio</p>
    </div> 
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign11.png" alt="Image 8">
      <p class="fw-bold fs-5">Sagittarius</p>
    </div> 
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign12.png" alt="Image 8">
      <p class="fw-bold fs-5">Capricorn</p>
    </div> 

      <!-- Duplicated images for smooth infinite scrolling -->
      <div class="text-center">
        <img class="sign-img" src="../../src/Assets/Images/sign1.png" alt="Image 1">
<p class="fw-bold fs-5">Aquarius</p>
      </div>
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign2.png" alt="Image 2">
      <p class="fw-bold fs-5">Pisces</p>
    </div>
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign3.png" alt="Image 3">
      <p class="fw-bold fs-5">Taurus</p>
    </div>      
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign4.png" alt="Image 4">
      <p class="fw-bold fs-5">Aries</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign5.png" alt="Image 5">
      <p class="fw-bold fs-5">Gemini</p>
    </div>  
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign6.png" alt="Image 6">
      <p class="fw-bold fs-5">Cancer</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign7.png" alt="Image 7">
      <p class="fw-bold fs-5">Leo</p>
    </div>     
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign8.png" alt="Image 8">
      <p class="fw-bold fs-5">Virgo</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign9.png" alt="Image 8">
      <p class="fw-bold fs-5">Libra</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign10.png" alt="Image 8">
      <p class="fw-bold fs-5">Scorpio</p>
    </div> 
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign11.png" alt="Image 8">
      <p class="fw-bold fs-5">Sagittarius</p>
    </div> 
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign12.png" alt="Image 8">
      <p class="fw-bold fs-5">Capricorn</p>
    </div> 

      <!-- Duplicated images for smooth infinite scrolling -->
      <div class="text-center">
        <img class="sign-img" src="../../src/Assets/Images/sign1.png" alt="Image 1">
<p class="fw-bold fs-5">Aquarius</p>
      </div>
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign2.png" alt="Image 2">
      <p class="fw-bold fs-5">Pisces</p>
    </div>
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign3.png" alt="Image 3">
      <p class="fw-bold fs-5">Taurus</p>
    </div>      
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign4.png" alt="Image 4">
      <p class="fw-bold fs-5">Aries</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign5.png" alt="Image 5">
      <p class="fw-bold fs-5">Gemini</p>
    </div>  
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign6.png" alt="Image 6">
      <p class="fw-bold fs-5">Cancer</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign7.png" alt="Image 7">
      <p class="fw-bold fs-5">Leo</p>
    </div>     
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign8.png" alt="Image 8">
      <p class="fw-bold fs-5">Virgo</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign9.png" alt="Image 8">
      <p class="fw-bold fs-5">Libra</p>
    </div>   
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign10.png" alt="Image 8">
      <p class="fw-bold fs-5">Scorpio</p>
    </div> 
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign11.png" alt="Image 8">
      <p class="fw-bold fs-5">Sagittarius</p>
    </div> 
    <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign12.png" alt="Image 8">
      <p class="fw-bold fs-5">Capricorn</p>
    </div> 

        <!-- Duplicated images for smooth infinite scrolling -->
        <div class="text-center">
          <img class="sign-img" src="../../src/Assets/Images/sign1.png" alt="Image 1">
  <p class="fw-bold fs-5">Aquarius</p>
        </div>
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign2.png" alt="Image 2">
        <p class="fw-bold fs-5">Pisces</p>
      </div>
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign3.png" alt="Image 3">
        <p class="fw-bold fs-5">Taurus</p>
      </div>      
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign4.png" alt="Image 4">
        <p class="fw-bold fs-5">Aries</p>
      </div>   
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign5.png" alt="Image 5">
        <p class="fw-bold fs-5">Gemini</p>
      </div>  
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign6.png" alt="Image 6">
        <p class="fw-bold fs-5">Cancer</p>
      </div>   
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign7.png" alt="Image 7">
        <p class="fw-bold fs-5">Leo</p>
      </div>     
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign8.png" alt="Image 8">
        <p class="fw-bold fs-5">Virgo</p>
      </div>   
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign9.png" alt="Image 8">
        <p class="fw-bold fs-5">Libra</p>
      </div>   
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign10.png" alt="Image 8">
        <p class="fw-bold fs-5">Scorpio</p>
      </div> 
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign11.png" alt="Image 8">
        <p class="fw-bold fs-5">Sagittarius</p>
      </div> 
      <div class="text-center">  <img class="sign-img" src="../../src/Assets/Images/sign12.png" alt="Image 8">
        <p class="fw-bold fs-5">Capricorn</p>
      </div> 
  
    </div>
  </div>
</div>
 <!-- marquee ends here  -->



    </div>
    

    <!-- our services  starts here  -->
<div class="container-fluid dark-bg">
  <div class="container p-5">
    <center class="pt-5">    <img class="img-fluid star" src="../../src/Assets/Images/star.png" alt="">
      <h5 class="what mt-4">OUR SERVICES
      </h5>
      <h1 class="reality-text mt-2 text-white">
        Astrology is just a finger pointing at reality
      </h1>
    </center>
    <div class="row row-down">
      <!-- Service Card 1 -->
      <div class="col-md-4 mb-4">
        <div class="card text-white card-bg border-0">
          <div class="card-body">
            <img src="../../src/Assets/Images/normalogo.png" alt="General Consultation" class="icon mb-3">
            <h5 class="card-title">ASTRO-BRANDING
            </h5>
            <p class="card-text">Branding is one of the most important aspects of any business, large or small, retail or B2B.</p>
          <a class="read-text" href="/astro-branding">Read More</a>
          </div>
        </div>
      </div>

      <!-- Service Card 2 -->
      <div class="col-md-4 mb-4">
        <div class="card text-white card-bg border-0">
          <div class="card-body">
            <img src="../../src/Assets/Images/normalogo.png" alt="Personal Life Advice" class="icon mb-3">
            <h5 class="card-title">ASTRO-MANAGEMENT
            </h5>

            <p class="card-text">The individuals managing an organization are primarily responsible for growth and success.

            </p>
            <a class="read-text" href="/astro-management">Read More</a>

          </div>
        </div>
      </div>

      <!-- Service Card 3 -->
      <div class="col-md-4 mb-4">
        <div class="card text-white card-bg border-0">
          <div class="card-body">
            <img src="../../src/Assets/Images/normalogo.png" alt="Annual Forecast" class="icon mb-3">
            <h5 class="card-title">ASTRO-STAFFING</h5>
            <p class="card-text">Are you stuck in a loop of Hiring - Firing - Hiring - Firing - Hiring & Firing?

            </p>
            <a class="read-text" href="/astro-staffing">Read More</a>

          </div>
        </div>
      </div>
      
      <!-- Service Card 4 -->
      <div class="col-md-6 mb-4">
        <div class="card text-white card-bg border-0">
          <div class="card-body">
            <img src="../../src/Assets/Images/normalogo.png" alt="Work, Career, Finance" class="icon mb-3">
            <h5 class="card-title">VASTU & VIBRATIONS
            </h5>
            
            <p class="card-text">How do you feel when you enter your Office/Factory/Workplace? Does your workforce feel the same energy that you do?

              .</p>
            <a class="read-text" href="/vastu-shastra">Read More</a>

          </div>
        </div>
      </div>

      <!-- Service Card 5 -->
      <div class="col-md-6 mb-4">
        <div class="card text-white card-bg border-0">
          <div class="card-body">
            <img src="../../src/Assets/Images/normalogo.png" alt="Forecast of Future Events" class="icon mb-3">
            <h5 class="card-title">PERSONAL CONSULTATION
            </h5>
            <p class="card-text">Astrological consultations are not only for those who are presently facing problems & difficulties

              </p>
            <a class="read-text" href="/personal">Read More</a>

          </div>
        </div>
      </div>

      <!-- Service Card 6 -->

 

    </div>

  
</div>
</div>
  <!-- our services  ends here  -->

  <!-- testimonials starts here  -->
<div class="container-fluid test-bg">
  <div class="container p-5">
    <center class="pt-5">    <img class="img-fluid star" src="../../src/Assets/Images/comet.png" alt="">
      <h5 class="what mt-4">Testimonials

 
      </h5>
      <h1 class="reality-text mt-2 text-dark">
        Hear from our clients

      </h1>
    </center>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  
      <!-- Carousel Inner -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★☆</div>
                  <p class="mt-3">"Before meeting Tumul ji, I have been to many well known Astrologers & Numerologist but none has worked for me. His predictions & problem solving techniques, is amazing. I have found great improvement in my business and his valuable advices have helped me to come out of various problems i was facing.
                    "</p>
                  <h5 class="">Dinesh Gupta 
                  </h5>
                  <p>
                    – Jewller (Hyderabad)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★★</div>
                  <p class="mt-3">"I knew Dr. Tumul for a very long time and used to consult to him on a regular basis for my personal astrology. He was a great guide when I was struggling in my job with all the politics and hit a plateau. That’s when Dr. Tumul Raathi guided me into starting my own business and now we are a team of 75 strong members working towards a bigger vision! Had it not been Tumul Ji… I
                    couldn’t have ever imagined the possibilities and the potential."</p>
                  <h5>Anil Kumar 
                  </h5>
                  <p>– Digital Marketing – Founder</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★☆</div>
                  <p class="mt-3">"Our’s was a very well established manufacturing unit and we were planning for expansion of our business. To set up a new manufacturing unit we reached out to Dr. Tumul Raathi for Vastu Consultation. It was very insightful and helped us with selecting the right location and set the right energies at the new Manufacturing Unit. Happy to share that we have tripled our production in just 3 months and will consult you very soon as we look for another space!
                    "</p>
                  <h5>Karni Packaging </h5>
                  <p>– Sumeet Somani – Director</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★☆</div>
                  <p class="mt-3">"I wish I had consulted Dr. Tumul Raathi when I was working on my first business idea. His expertise on Business and Astrology has helped me with strategizing multiple businesses. From astro-branding to his business consultation,by recommending his services.

                    "</p>
                  <h5>Jorawar Singh
                  </h5>
                  <p> JS Enterprises (Founder)</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★☆</div>
                  <p class="mt-3">"A great command on his subject and with amazing analytical & predictive abilities, Tumul ji is one of the finest Astrologers I’ve ever met its remedies have helped me a lot in business as well as in my personal life. I heart full of wishes & thanks to him.”


                    "</p>
                  <h5>Amit Bajaj, 

                  </h5>
                  <p> Estrella Ceramica</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★☆</div>
                  <p class="mt-3">"I got in touch with Dr. Tumul Raathi after my friend recommended him for Branding based on Astrological insights! I was in awe how our Astrological Charts and elements form a brand that aligns with our vision and mission. It's been a year now and we've been strongly moving ahead with our brand! It's highly recommended that if you're planning for a brand make sure you have everything implemented and not miss on the Astrology aspect.
                    ”


                    "</p>
                  <h5>Rene Verdaasdonk 


                  </h5>
                  <p> – Founder (Lebosol)</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★☆</div>
                  <p class="mt-3">"A great command on his subject and with amazing analytical & predictive abilities, Tumul ji is one of the finest Astrologers I’ve ever met its remedies have helped me a lot in business as well as in my personal life. I heart full of wishes & thanks to him.”


                    "</p>
                  <h5>Peter F. Cohen 



                  </h5>
                  <p> – Chairman – Sinai Health</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★☆</div>
                  <p class="mt-3">"I had started up in 2022. Despite a good management and employee benefits, We never had our employees retaining for a period more than 6 months. I am a believer of Astrology and I remember meeting Dr. Tumul Raathi for a personal consultation like 3-4 years ago. When I reached out to him he explained on how a lot of things are influenced by Company Astrology chart. Glad I reached out and implemented the Astro-staffing services from Corp Astro headed by Dr. Tumul Raathi

                    ”


                    "</p>
                  <h5>Chris Kolmar 
 



                  </h5>
                  <p> – Founder – Zippia</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★☆</div>
                  <p class="mt-3">"To meet the demand of the market, we planned on taking up another manufacturing unit for our fertilizers. While everything remained the same, our new manufacturing unit had 3 major incidents of onsite accidents of supervisors every consecutive month. This somehow triggered me to think of what could be the reason as it needed to be fixed asap. While looking for Corporate and industry Vastu experts"

 

<h5 class="sree"> DR.P.SREEMANNARAYANA</h5>

                  </h5>
                  <p> – Chairman – PhytoChem</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="testimonial-card">
                <div class="testimonial-card-body">
                  <img src="../../src/Assets/Images/test.png" alt="Lisa Jons" class="testimonial-img">
                  <div class="rating">★★★★☆</div>
                  <p class="mt-3">"I was not a firm believer of Astrology before I met Tumul ji, He is the one who made me believe practically the kind of wonders this can do. He has a great insight and understanding of the subject. His remedies have created wonders in my business"</p>
                  <h5>Mark Hoffman 


 



                  </h5>
                  <p>– Larson Packaging – CEO</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  
      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-danger" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-danger" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </div>

</div>

      <!-- testimonials ends here  -->


</Layout>











