---
import Layout from "../layouts/Layout.astro"
import '../../src/css/personal.css'
---
<Layout title="Our Team">

    <div class="Banner-area Banner-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white my-auto d-flex  justify-content-center fw-bold about-text">
                    <a class="nav-link about-text" href="/">Home /</a> <a class="about-text text-white" href="/about"> &nbsp; Personal Consulting</a>
                   </div>
        </div>
    </div> 
</div>  

<div class="container-fluid personal-bg">
    <div class="container p-5">
        <h2 class="text-center per-headtext">Personal Consulting
        </h2>
        <p class="pt-2">
            Astrological consultations are not only for those who are presently facing problems & difficulties in life but for everyone who wants to improve their life by gaining a proper understanding of good & difficult periods ahead, your strengths & weaknesses and performing various remedies to get over the evils or doshas causing difficulties & hindrances in your success. In short, to lead a healthy, happy & prosperous life one should take proper & regular guidance from an able Astrologer. Looking for answers or solutions to the following problems or issues in life?


        </p>
    </div>
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h3 class="heading1">
                    Health

                </h3>
                <div class="health-para">
                    I am suffering from major disease where medicines are not able to cure me. <br>
                    How will I get cured? <br>
                    
                    I am suffering from a Phobia / Depression / Insomnia / Lack of confidence. How will I get rid of it? <br>
                    
                    I am facing with recurring health issue where the problem re occurs once i stop my medicine. How can this be permanently cured?
                    
                    
                </div>
              
            </div>
            <div class="col-lg-6">
                <img class="img-fluid heart-img" src="../../src/Assets/Images/heart.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="container p-5">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid heart-img" src="../../src/Assets/Images/career.jpg" alt="">

            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h3 class="heading1">
                    Career & Profession


                </h3>
                <p class="health-para1">
                    I am not able to get a suitable job. How & when will I get? <br>

                    I am unable to perform well in my job. How can I improve my performance?<br>
                    
                    My boss is never happy with my performance so I am not getting promotions. What should I do to get promotion? <br>
                    
                    I am never satisfied with my job and frequently change jobs. How & When will I be happy with a suitable job?<br>
                    
                    What line of career is suitable for me where I can perform well and grow in life?<br>
                    
                    Do I have a career & scope of settling abroad? <br>
                    
                    What is good for me, Business or Service?<br>
                    
                    Which line of business is suitable & favourable for me?<br>

                </p>
            </div>
        </div>
    </div>

<div class="container health-para1 p-5">
    <div class="container">
    <p>What is suitable for me in business? Trading, Manufacturing or  Commission based activity or any other activity?

        I have tried 2-3 businesses but nothing worked out for me. Now what business should I do to earn money and be successful?
        
        I have lost a lot of money in my business. How will I gain from my business?
        
        I have been deceived by my partners. How should I do business in partnership and trust my partners?</p>
    </div>

</div>


<div class="container p-5">
    <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h3 class="heading1">
                Money & Wealth


            </h3>
            <p class="health-para1">
                How wealthy will I become in life? Can I become a Millionaire or Billionaire? <br>

I am not able to save money as all my earnings goes into undesirable <br>
expenditures. What should I do to save money? <br>

I am in debts. How &amp; when will I get out of it? <br>

Can I invest in real estate or properties so that I benefit from it? Should I invest in residential or commercial properties?<br>

Where should I invest to gain maximum returns? In properties, stock market or others?<br>

I have given loan to someone but now my money is stuck as he is not paying. How and when will I recover my money?
            </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid heart-img" src="../../src/Assets/Images/money.jpg" alt="">

        </div>
     
    </div>
</div>


<div class="container p-5">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid heart-img" src="../../src/Assets/Images/love.jpg" alt="">

        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h3 class="heading1">
                Love & Personal


            </h3>
            <p class="health-para1">
                I am in a love relationship. Will it turn into marriage? <br>

                Am I in a right relationship where I can see my future with him/her?<br>
                
                I am deeply in love but my partner treats me casually and shows less or no<br>
                concern for me. What should I do?<br>
                
                I have some personal problems which I would like to share and find its solution. How can you help me?
            </p>
        </div>
    </div>
</div>



<div class="container p-5">
    <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h3 class="heading1">
                Marriage, Family & Children

            </h3>
            <p class="health-para1">
                Will I have a love marriage or an arranged one? <br>

How will be my life partner? Will I be happy with her? <br>

I have compatibility problems with my spouse. Will our relationship improve? What should I do?<br>

I am having problems in conceiving. How and when will I conceive?<br>

Will I have a baby boy or girl? How will be my kids?<br>

My child is physically very weak and falls ill frequently. What should I do to make him fit and healthy?<br>

My child is very poor in studies and doesn’t perform in school. What should I do to make him successful?<br>

I have a family dispute related to property / wealth division / any other. How and when will it settle and will I gain or loose?
            </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid heart-img" src="../../src/Assets/Images/life.jpg" alt="">

        </div>
    </div>
</div>


<div class="container p-5">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid heart-img" src="../../src/Assets/Images/vastu.jpg" alt="">

        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h3 class="heading1">
                Vastu Consultation

            </h3>
            <p class="health-para1">
                Designing your favourable Layout Plan as per Vastu (Non Visit): Rs. 5100/- <br>

                Site Visit for Vastu &amp; Vibration reading and suggesting favourable<br>
                Changes- 10000/- (Within Hyderabad)<br>
                
                Other Location Visit: 15000/- + Airfare (to & fro)<br>
            </p>
        </div>
    </div>
</div>

<div class="container-fluid text-center mt-5 p-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-container">
                <h4 class="text-center cons-text">CONSULTATION CHARGES PER PERSON:</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Telephonic consultation upto 2 specific questions</td>
                            <td><span class="table-btn">Rs. 3000 per person</span></td>
                        </tr>
                        <tr>
                            <td>Detailed telephonic consultation</td>
                            <td><span class="table-btn">Rs. 5000 per person</span></td>
                        </tr>
                        <tr>
                            <td>Personal Meeting (Upto 45 mins)</td>
                            <td><span class="table-btn">Rs. 6000 per person</span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><b class="">Extra Min Charges @ Rs. 150</b></td>
                        </tr>
                    </tbody>
                </table>

                <h4 class="text-center cons-text">BANK DETAILS :</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Bank Name:</td>
                            <td><b>ICICI BANK</b></td>
                        </tr>
                        <tr>
                            <td>Account Name :</td>
                            <td><b>Dr. TUMUL RAATHI</b></td>
                        </tr>
                        <tr>
                            <td>Current Account No. :</td>
                            <td><b>777705106969</b></td>
                        </tr>
                        <tr>
                            <td>IFSC Code :</td>
                            <td><b>ICIC0002541</b></td>
                        </tr>
                    </tbody>
                </table>

                <h4 class="text-center cons-text">GPAY/PHONEPE</h4>
                <div class="payment-details text-center">
                    <p>Mobile Number: <b>+91 9573096969</b> <span></span></p>
                    <p>Name: <b>DR. TUMUL RAATHI</b></p>
                </div>
            </div>
        </div>
    </div>
</div>




</div>

</Layout>