---
import Layout from "../layouts/Layout.astro"
import '../../src/css/branding.css'
---

<Layout title="Astro-Branding">
    <div class="Banner-area Banner-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-white my-auto d-flex  justify-content-center fw-bold about-text">
                    <a class="nav-link about-text" href="/">Home /</a> <a class="about-text text-white" href="/about"> &nbsp; Vastu & Vibrations</a>
                   </div>
        </div>
    </div> 
</div>  



 


 <!-- barnding 3 starts here  -->


 <div class="container-fluid back-img">
    <div class="container p-4">
        <div class="row gy-3">
         

            <div class="col-lg-8 p-2" id="main">
                <div class="header-bg text-center p-3">Vastu & Vibrations At Your Workplace




                </div>
                <div class="header-bg2 p-2">
                
                
                    <ol type="a">
               <p>Having positive energies at your workplace is very important for the business growth. Improper Vastu and Negative Vibrations can destroy your work atmosphere that can result in:



                   </p>
                
                     <div class="px-3">
                  
                        <li>
                            High Employee Turnover ie your workforce is not willing to stay with your company.

                
                        </li>
                       
                      <li>
                        Financial Losses due to Mis-Management / Fraudulent Activities.
 
                      </li>
                      <li>Lack of clarity in functioning and communication gaps resulting in operational difficulties.



                      </li>
                      <li>
                        Unhealthy professional relationships.

                      </li>
                      <li>Unnecessary expenditures on recurring basis.
                    </li>
                    <p>
                        We give suitable and practical remedies to correct your Vastu and bring positive vibrations to your workplace that can bring growth & prosperity to your business.


                    </p>
                     </div>
                      </ul>  
                 

                
              
                <div>
                        <h5 class="we-give">Note


                        </h5>
                        <ol type="a">
                            <li>The charges mentioned are per session basis wherein clarifications, if any, can be sought within a maximum duration of one month.
                            </li>
                            <li>The mentioned charges are inclusive of all taxes.
                            </li>
                            <li>Check the placement of the five elements and analyze the furniture/equipment layout.
                            </li>
                            <li>The given packages can be altered as per the client as well as requirement of the circumstances.
                            </li>
                        </ol>
                  
                </div>
                 
                        </div>
            </div>
                        <div class="col-lg-4 p-2" id="sidebar">
                            <div class="header-bg p-3 text-center">
                                Vastu & Vibration Analysis & Remedies

            
                     
                                 </div>
                             <div class="header-bg2  p-4 text-center" id="header">
                                
                                 <strike class="text-center fs-4">
                                     (₹21000)
                                     </strike>
                                     <p class="text-center pt-5 fs-4">
                                        ₹10000
                                    </p>
                                      <div class="text-center p-2">
                                         <!-- <button type="submit" class="btn-24">Buy now</button> -->
                                         <button type="submit" class="btn-24 buyNowBtn" data-product=" Vastu & Vibration Analysis & Remedies" data-price="10000 ">Buy now</button>
            
                                      </div>
                                      <div class="text-center mt-2">
                                         <img class="w-100 text-center" src="../../src/Assets/Images/astra.jpg" alt="">
                                      </div>
                             </div>
                          
            
                         </div>
                      
        </div>
      
    </div>
</div>

 <!-- barnding 3 ends here  -->



 <script type="text/javascript">
    const buyNowBtns = document.querySelectorAll('.buyNowBtn');

    buyNowBtns.forEach(button => {
        button.addEventListener('click', (e) => {
            const product = e.target.getAttribute('data-product');
            const price = e.target.getAttribute('data-price');
            // window.location.href = /checkout?product=${encodeURIComponent(product)}&price=${encodeURIComponent(price)};
            window.open(`/checkout?product=${encodeURIComponent(product)}&price=${encodeURIComponent(price)}`);
        });
    });
</script>





</Layout>