---
import '../../src/css/footer.css'
---

<footer>

    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 ">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>At Corp Astro, we specialize in leveraging the power of the cosmos to enhance your business success through astro-branding, astro staffing, and Vastu services. Led by renowned astrologers Dr. Tumul Raathi and Aanchal Raathi</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>map
                                502, Lalithanjali Apartment, 6-3-347/11, Dwarakapuri Colony, Punjagutta, Hyderabad. Telangana, India - 500082.</li>
                            <li>+91 93460 35354</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6"> 
                    <div class="footer-box pages">
                        <h2 class="widget-title">Quick links</h2>
                        <ul class="home">
                            <li class="decrease"><a class="nav-link" href="/home">Home</a></li>
                            <li class="decrease"><a class="nav-link" href="/">Our Team</a></li>
                            <li class="decrease"><a class="nav-link"  href="/">Astro Branding</a></li>
                            <li class="decrease"><a class="nav-link" href="/">Astro Staffing</a></li>
                            <li class="decrease"><a class="nav-link" href="/">Astro Management</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Subscribe</h2>
                        <p>Subscribe to our mailing list to get the latest updates.</p>
                        <form action="/contact">
                            <input type="email" placeholder="Email">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
    
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>Copyrights &copy; 2024 - <a class="text-decoration-none" href=""> Corp Astro, </a>, All Right Reserved. Webdesigner VS Technosolutions.<br>
                    
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="/home" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="/home" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="/home" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="/home" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="/home" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->
</footer>