@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.back-img {
    background-image: url(../Assets/Images/background.png);
    width: 100%;
    object-fit: cover;
    background-position: right left;
  }

/* about banner starts here  */
.about-text {
  margin-top: 200px;
  font-size: 33px;
  font-family: "Playfair Display", serif;
  color: #f28123;
  text-decoration: none;
}
.Banner-bg {
  background-image: url(../../src/Assets/Images/bgm.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Banner-area {
  height: 100%;
  position: relative;
  height: 400px;
}

.Banner-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #120604;
  opacity: 0.2;
  z-index: -1;
}
@media (min-width: 360px) and (max-width: 600px) {
  .about-text {
    margin-top: 200px;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    color: #f28123;
    text-decoration: none;
  }
}
/* banner ends here  */
/* banner button read more starts here  */

.btn-24,
.btn-24 *,
.btn-24 :after,
.btn-24 :before,
.btn-24:after,
.btn-24:before {
  border: none;
  box-sizing: border-box;
}
.head1
{
  margin-top: 50px;
}
.btn-24 {
  -webkit-tap-highlight-color: transparent;
  background-color: #000;
  background-image: none;
  border: none !important;
  color: #fff;
  cursor: pointer;
  font-size: 16px !important;
  font-weight: 500;
  line-height: 2.;
  width: 170px;
  margin: 0;
  mask-image: radial-gradient(circle, #000, #000);
  -webkit-mask-image: radial-gradient(circle, #000, #000); /* Add vendor prefix if you need WebKit compatibility */
    padding: 0;
}
.btn-24:disabled {
  cursor: default;
}
.btn-24:-moz-focusring {
  outline: auto;
}
.btn-24 svg {
  display: block;
}
.btn-24 [hidden] {
  display: none;
}
.btn-24 {
  --background: #EC4400;
  background: none;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
  font-size: 10px;
}
.btn-24 span {
  display: block;
  position: relative;
  transition: transform 0.2s ease;
}
.btn-24:after,
.btn-24:before {
  --tilt: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
  width: 100%;
  z-index: -1;
}
.btn-24:after {
  --thickness: 5px;
  background: var(--background);
  height: calc(100% - var(--thickness) * 2);
  left: var(--thickness);
  top: var(--thickness);
  width: calc(100% - var(--thickness) * 2);
}
.btn-24:hover span {
  transform: translateX(-20px);
}
.btn-24:hover:after,
.btn-24:hover:before {
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
}
/* banner button read more ends here  */
@media (min-width: 994px) and (max-width: 1450.96px) {

  .about-text
  {
    font-size: 40px !important;
  }
}
.header-bg
{
    background-color: #f28123;
    border-top-left-radius: 12px; /* Top-left corner rounded */
      border-top-right-radius: 12px;
      font-size: 19px;
      font-weight: 700;
      color:white;
}
.header-bg2
{
    background-color: white;
    border: 2px solid wheat;
    border-bottom-left-radius: 12px; /* Top-left corner rounded */
    border-bottom-right-radius: 12px;
    color: #921B00;
}
.para
{
    font-size: 16px;
}
.we-give
{
    color: #df6d4d;
    font-size: 22px;
}
@media (min-width:360px) and (max-width:640px)  
{
.btn-24
{
    width: 150px;
    font-size: 12px !important;
}
.we-give
{
    color: #df6d4d;
    font-size: 18px;
}
.para
{
    font-size: 14px;
}
}
p
{
    line-height: 1.6;
}
ul>li
{
    line-height: 2;
}
li
{
line-height:2;}