@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*
{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: "DM Sans", sans-serif;

}


/* about banner starts here  */
.about-text
{
  margin-top: 183px;
  font-size: 35px;
  font-family: "Playfair Display", serif;
  color: #f28123;
  text-decoration: none;
}
.Banner-bg {
    background-image: url(../../src/Assets/Images/bgm.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  

  .Banner-area {
    height: 100%;
    position: relative;
    height: 400px;

  }
  .team
  {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 600;

  }

  .Banner-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #120604;
    opacity: 0.2;
    z-index: -1;
  }
  .gallery img {
    cursor: pointer;
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
  }

  .gallery img:hover {
    transform: scale(1.05);
  }
  @media (min-width: 994px) and (max-width: 1450.96px) {

    .about-text
    {
      font-size: 40px !important;
    }
  }